@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body-font {
    /* font-family: 'Open Sans', sans-serif; */
  }
}

@layer components {
  .nav-active {
    @apply bg-white;
    z-index: 100;
    border-bottom: 1px solid #e3e8ec;
    transition: all 0.3s ease;
  }

  .nav-active .nav-container {
    @apply py-2;
    transition: all 0.3s ease;
  }
}
